Repository NSMichelJ/orbitkit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.astro": ["eslint --fix", "prettier --write"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

feat(cli): add shebang to index.ts for executable script
  packages/cli/src/index.ts
Due: eslint --fix, prettier --write

fix(cli): update bin path for orbitui to remove leading dot
  packages/cli/package.json
Due: prettier --write

chore(docs): remove hero image from README.md
  README.md
  hero.png
Due: prettier --write

feat: rename OrbitUI to OrbitKIT across documentation and codebase
  README.md
  package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/types/config.ts
  packages/cli/src/utils/constants.ts
  packages/components/README.md
  packages/components/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(docs): add initial documentation structure and configuration files
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  apps/docs/README.md
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/docs/public/favicon.svg
  apps/docs/src/layouts/Layout.astro
  apps/docs/src/pages/index.astro
  apps/docs/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: integrate Tailwind CSS into the documentation site
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/docs/src/layouts/Layout.astro
  apps/docs/src/styles/global.css
  apps/docs/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, stylelint --fix

fix(lint): remove stylelint from lint-staged configuration for CSS and SCSS files
  .lintstagedrc
Due: none

feat: add OrbitUI configuration and utilities for styling
  apps/docs/orbit.config.json
  apps/docs/package.json
  apps/docs/src/pages/index.astro
  apps/docs/src/styles/global.css
  apps/docs/src/utils/cn.ts
  apps/docs/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, stylelint --fix

feat: add new SVG icons and index file for asset management
  apps/docs/src/assets/icons/blocks.svg
  apps/docs/src/assets/icons/brand-github.svg
  apps/docs/src/assets/icons/circle-check.svg
  apps/docs/src/assets/icons/circle.svg
  apps/docs/src/assets/icons/clock.svg
  apps/docs/src/assets/icons/cube.svg
  apps/docs/src/assets/icons/heart-handshake.svg
  apps/docs/src/assets/icons/index.ts
  apps/docs/src/assets/icons/package-off.svg
  apps/docs/src/assets/icons/palette.svg
  apps/docs/src/assets/icons/rocket.svg
  apps/docs/src/assets/icons/shield-half.svg
  apps/docs/src/assets/icons/sparkles.svg
  apps/docs/src/assets/icons/star.svg
  apps/docs/src/assets/icons/terminal-2.svg
Due: eslint --fix, prettier --write

feat(docs): add new sections and components for documentation
  apps/docs/src/components/StarryBackground.astro
  apps/docs/src/components/sections/FeatureHighlights.astro
  apps/docs/src/components/sections/Footer.astro
  apps/docs/src/components/sections/Header.astro
  apps/docs/src/components/sections/OriginQuote.astro
  apps/docs/src/components/sections/Roadmap.astro
  apps/docs/src/components/sections/Support.astro
  apps/docs/src/components/sections/WhyOrbitUI.astro
  apps/docs/src/components/ui/alert/Alert.astro
  apps/docs/src/components/ui/alert/AlertDescription.astro
  apps/docs/src/components/ui/alert/AlertTitle.astro
  apps/docs/src/components/ui/alert/alertVariants.ts
  apps/docs/src/components/ui/alert/index.ts
  apps/docs/src/components/ui/button/Button.astro
  apps/docs/src/components/ui/button/buttonVariants.ts
  apps/docs/src/components/ui/button/index.ts
  apps/docs/src/components/ui/card/Card.astro
  apps/docs/src/components/ui/card/CardContent.astro
  apps/docs/src/components/ui/card/CardDescription.astro
  apps/docs/src/components/ui/card/CardFooter.astro
  apps/docs/src/components/ui/card/CardHeader.astro
  apps/docs/src/components/ui/card/CardTitle.astro
  apps/docs/src/components/ui/card/index.ts
Due: eslint --fix, prettier --write

feat(docs): add OrbitUI image asset for documentation
  apps/docs/public/orbitui.png
Due: none

feat(docs): enhance documentation layout and add new components for improved user experience
  apps/docs/orbit.config.json
  apps/docs/src/layouts/Layout.astro
  apps/docs/src/pages/index.astro
Due: eslint --fix, prettier --write

feat(docs): add Starlight dependencies to package.json
  apps/docs/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(docs): configure Starlight
  apps/docs/astro.config.mjs
  apps/docs/src/content.config.ts
Due: eslint --fix, prettier --write

feat(docs): add getting started and installation guides for OrbitUI
  apps/docs/src/content/docs/getting-started/index.md
  apps/docs/src/content/docs/getting-started/installation.mdx
Due: prettier --write

feat(docs): add custom CSS for Starlight integration
  apps/docs/astro.config.mjs
  apps/docs/src/styles/starlight.css
Due: prettier --write, stylelint --fix

feat(docs): update Starlight integration with logo configuration and add new logo assets
  apps/docs/astro.config.mjs
  apps/docs/src/assets/logo/OrbitUI-dark.png
  apps/docs/src/assets/logo/OrbitUI-light.png
Due: none

feat(docs): add social links and edit link configuration for Starlight integration
  apps/docs/astro.config.mjs
Due: none

feat(docs): create initial Components Reference documentation
  apps/docs/src/content/docs/components/index.mdx
Due: none

feat(docs): update getting started documentation with sidebar order and note formatting
  apps/docs/src/content/docs/getting-started/index.md
Due: prettier --write

feat(docs): add Alert component documentation
  apps/docs/src/content/docs/components/alert.mdx
Due: none

feat(docs): add Avatar component documentation
  apps/docs/src/content/docs/components/avatar.mdx
Due: none

fix(docs): correct formatting in Alert component usage example
  apps/docs/src/content/docs/components/alert.mdx
  apps/docs/src/content/docs/components/avatar.mdx
Due: none

feat(docs): add Badge component documentation
  apps/docs/src/content/docs/components/badge.mdx
Due: none

feat(docs): add Breadcrumb component documentation
  apps/docs/src/content/docs/components/breadcrumb.mdx
Due: none

feat(docs): add Button component documentation
  apps/docs/src/content/docs/components/button.mdx
Due: none

feat(docs): add Card component documentation
  apps/docs/src/content/docs/components/card.mdx
Due: none

feat(docs): add Checkbox component documentation
  apps/docs/src/content/docs/components/checkbox.mdx
Due: none

feat(docs): add Input component documentation
  apps/docs/src/content/docs/components/input.mdx
Due: none

feat(docs): add Label component documentation
  apps/docs/src/content/docs/components/label.mdx
Due: none

fix(docs): clarify attribute acceptance in Breadcrumb and Card components
  apps/docs/src/content/docs/components/breadcrumb.mdx
  apps/docs/src/content/docs/components/card.mdx
Due: none

feat(docs): add Progress component documentation
  apps/docs/src/content/docs/components/progress.mdx
Due: none

feat(docs): add Radio component documentation
  apps/docs/src/content/docs/components/radio.mdx
Due: none

feat(docs): add Select component documentation
  apps/docs/src/content/docs/components/select.mdx
Due: none

feat(docs): add Switch component documentation
  apps/docs/src/content/docs/components/switch.mdx
Due: none

fix(docs): update Switch component documentation for clarity
  apps/docs/src/content/docs/components/switch.mdx
Due: none

fix(docs): update Textarea component documentation for clarity
  apps/docs/src/content/docs/components/textarea.mdx
Due: none

fix(docs): update button links in Footer, Header, Support, and Roadmap components
  apps/docs/src/components/sections/Footer.astro
  apps/docs/src/components/sections/Header.astro
  apps/docs/src/components/sections/Roadmap.astro
  apps/docs/src/components/sections/Support.astro
  apps/docs/src/pages/index.astro
Due: eslint --fix, prettier --write

fix(types): update Props interface to extend HTMLAttributes for "option"
  packages/components/src/astro/select/Option.astro
  packages/components/src/registry.json
Due: eslint --fix, prettier --write

feat(docs): add CLI Tool documentation for OrbitUI components management
  apps/docs/src/content/docs/getting-started/cli.mdx
Due: none
