Repository NSMichelJ/orbitkit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.astro": ["eslint --fix", "prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

fix(docs): add sidebar order to Installation guide
  apps/docs/src/content/docs/getting-started/installation.mdx
Due: none

feat(docs): add Theming guide for OrbitUI components customization
  apps/docs/src/content/docs/guides/theming.mdx
Due: none

feat(docs): add comprehensive customization guide for OrbitUI components
  apps/docs/src/content/docs/guides/customization.mdx
Due: none

feat(docs): add guide for configuring dark mode in OrbitUI components
  apps/docs/src/content/docs/guides/dark-mode.mdx
Due: none

feat(docs): add Pagination and PaginationButton components for navigation
  apps/docs/astro.config.mjs
  apps/docs/src/components/overrides/pagination/Pagination.astro
  apps/docs/src/components/overrides/pagination/PaginationButton.astro
  apps/docs/src/styles/starlight.css
Due: eslint --fix, prettier --write

feat(docs): update Components Reference with additional component links
  apps/docs/src/content/docs/components/index.mdx
Due: none

feat(docs): add favicon for improved branding and user experience
  apps/docs/astro.config.mjs
  apps/docs/public/favicon.png
  apps/docs/public/favicon.svg
  apps/docs/src/layouts/Layout.astro
Due: eslint --fix, prettier --write

feat(docs): add Twitter Card and Open Graph Social Metadata
  apps/docs/astro.config.mjs
  apps/docs/public/hero.png
  apps/docs/src/layouts/Layout.astro
  apps/docs/src/pages/index.astro
Due: eslint --fix, prettier --write

chore: update package.json for improved dependency management
  package.json
Due: prettier --write

feat(docs): add Open Graph metadata for improved SEO
  apps/docs/astro.config.mjs
Due: none

feat(docs): add dark and light logo assets for improved branding
  apps/docs/astro.config.mjs
  apps/docs/src/assets/logo/orbitui_dark.png
  apps/docs/src/assets/logo/orbitui_light.png
Due: none

feat(init command): Add working directory option
  packages/cli/src/commands/init.ts
Due: eslint --fix, prettier --write

feat(packagerManager): add workingDirectory parameter
  packages/cli/src/utils/packageManager.ts
Due: eslint --fix, prettier --write

feat(writeConfig): update function to accept workingDirectory parameter
  packages/cli/src/utils/writeConfig.ts
Due: eslint --fix, prettier --write

feat(init): refactor working directory handling in init command
  packages/cli/src/commands/init.ts
Due: eslint --fix, prettier --write

feat(readConfig): update function to accept workingDirectory parameter
  packages/cli/src/utils/readConfig.ts
Due: eslint --fix, prettier --write

feat(add command): add working directory option to specify path for components
  packages/cli/src/commands/add.ts
Due: eslint --fix, prettier --write

docs(cli): add working directory option to init and add commands
  apps/docs/src/content/docs/getting-started/cli.mdx
Due: none

feat(Header): refactor header links into a separate array for better maintainability
  apps/docs/src/components/sections/Header.astro
Due: eslint --fix, prettier --write

feat(divider): add Divider component
  packages/components/src/astro/divider/Divider.astro
  packages/components/src/astro/divider/index.ts
Due: eslint --fix, prettier --write

feat(list): add List and ListItem components
  packages/components/src/astro/list/List.astro
  packages/components/src/astro/list/ListItem.astro
  packages/components/src/astro/list/ListVariants.ts
  packages/components/src/astro/list/index.ts
Due: eslint --fix, prettier --write

feat(registry): add list and divider components to registry
  packages/components/src/registry.json
Due: prettier --write

feat(skeleton): add Skeleton and SkeletonItem components
  packages/components/src/astro/skeleton/Skeleton.astro
  packages/components/src/astro/skeleton/SkeletonItem.astro
  packages/components/src/registry.json
Due: eslint --fix, prettier --write

feat(skeleton): create index file to export Skeleton and SkeletonItem components
  packages/components/src/astro/skeleton/index.ts
Due: eslint --fix, prettier --write

feat(divider): add documentation for Divider component
  apps/docs/src/content/docs/components/divider.mdx
Due: none

feat(docs): add List component documentation
  apps/docs/src/content/docs/components/list.mdx
Due: none

feat(docs): add documentation for Skeleton
  apps/docs/src/content/docs/components/skeleton.mdx
Due: none

feat(docs): update components index to include Divider, List, and Skeleton
  apps/docs/src/content/docs/components/index.mdx
Due: none

feat(package): update version to 0.1.0 and add repository information
  packages/cli/package.json
  packages/components/package.json
Due: prettier --write

feat(package): add publish scripts for beta and release versions
  package.json
  packages/cli/package.json
  packages/components/package.json
Due: prettier --write

feat(package): update '@orbitkit/components' version to 0.1.0
  pnpm-lock.yaml
Due: none

fix(docs): correct import syntax for Alert, Avatar, and Badge components
  apps/docs/src/content/docs/components/alert.mdx
  apps/docs/src/content/docs/components/avatar.mdx
  apps/docs/src/content/docs/components/badge.mdx
Due: none

feat(docs): add PreviewCard component and update global styles for dark theme support
  apps/docs/src/components/PreviewCard.astro
  apps/docs/src/styles/global.css
Due: eslint --fix, prettier --write

feat(docs): Enhance documentation for various components by adding interactive previews and code examples
  apps/docs/src/content/docs/components/alert.mdx
  apps/docs/src/content/docs/components/avatar.mdx
  apps/docs/src/content/docs/components/badge.mdx
  apps/docs/src/content/docs/components/breadcrumb.mdx
  apps/docs/src/content/docs/components/button.mdx
  apps/docs/src/content/docs/components/card.mdx
  apps/docs/src/content/docs/components/checkbox.mdx
  apps/docs/src/content/docs/components/divider.mdx
  apps/docs/src/content/docs/components/input.mdx
  apps/docs/src/content/docs/components/label.mdx
  apps/docs/src/content/docs/components/list.mdx
  apps/docs/src/content/docs/components/progress.mdx
  apps/docs/src/content/docs/components/radio.mdx
  apps/docs/src/content/docs/components/select.mdx
  apps/docs/src/content/docs/components/skeleton.mdx
  apps/docs/src/content/docs/components/switch.mdx
  apps/docs/src/content/docs/components/textarea.mdx
Due: none

feat(docs): add Code of Conduct, Contribution Guide, and Security Policy documents
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
Due: prettier --write

feat(docs): add Discord icon and link to footer and header components
  apps/docs/astro.config.mjs
  apps/docs/src/assets/icons/discord.svg
  apps/docs/src/assets/icons/index.ts
  apps/docs/src/components/sections/Footer.astro
  apps/docs/src/components/sections/Header.astro
Due: eslint --fix, prettier --write

feat(docs): add community section with guidelines, contribution info, and community links
  apps/docs/src/content/docs/resources/community.mdx
Due: none

feat(components): add Accordion, Modal, and Tooltip components
  packages/components/src/astro/accordion/Accordion.astro
  packages/components/src/astro/accordion/AccordionItem.astro
  packages/components/src/astro/accordion/AccordionTrigger.astro
  packages/components/src/astro/accordion/AcordionContent.astro
  packages/components/src/astro/accordion/accordion.ts
  packages/components/src/astro/accordion/index.ts
  packages/components/src/astro/modal/Modal.astro
  packages/components/src/astro/modal/ModalClose.astro
  packages/components/src/astro/modal/ModalContent.astro
  packages/components/src/astro/modal/ModalDescription.astro
  packages/components/src/astro/modal/ModalFooter.astro
  packages/components/src/astro/modal/ModalHeader.astro
  packages/components/src/astro/modal/ModalTitle.astro
  packages/components/src/astro/modal/ModalTrigger.astro
  packages/components/src/astro/modal/index.ts
  packages/components/src/astro/modal/modal.ts
  packages/components/src/astro/modal/modalVariants.ts
  packages/components/src/astro/tooltip/Tooltip.astro
  packages/components/src/astro/tooltip/TooltipContent.astro
  packages/components/src/astro/tooltip/TooltipTrigger.astro
  packages/components/src/astro/tooltip/index.ts
  packages/components/src/astro/tooltip/tooltip.ts
  packages/components/src/astro/tooltip/tooltipVariants.ts
  packages/components/src/registry.json
Due: eslint --fix, prettier --write

fix(components): correct Props interface types for Accordion and Modal components; remove unused modalVariants file
  packages/components/src/astro/accordion/AcordionContent.astro
  packages/components/src/astro/modal/ModalTitle.astro
  packages/components/src/astro/modal/modalVariants.ts
Due: eslint --fix, prettier --write
