Repository NSMichelJ/orbitkit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.astro": ["eslint --fix", "prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

fix(components): update backdrop class for ModalContent component
  packages/components/src/astro/modal/ModalContent.astro
Due: eslint --fix, prettier --write

feat(components): add Drawer, Tab, Kbd and Pagination components
  packages/components/src/astro/drawer/Drawer.astro
  packages/components/src/astro/drawer/DrawerContent.astro
  packages/components/src/astro/drawer/DrawerDescription.astro
  packages/components/src/astro/drawer/DrawerFooter.astro
  packages/components/src/astro/drawer/DrawerHeader.astro
  packages/components/src/astro/drawer/DrawerTitle.astro
  packages/components/src/astro/drawer/DrawerTrigger.astro
  packages/components/src/astro/drawer/drawer.ts
  packages/components/src/astro/drawer/drawerVariants.ts
  packages/components/src/astro/drawer/index.ts
  packages/components/src/astro/kbd/Kbd.astro
  packages/components/src/astro/kbd/index.ts
  packages/components/src/astro/pagination/Pagination.astro
  packages/components/src/astro/pagination/PaginationContent.astro
  packages/components/src/astro/pagination/PaginationEllipsis.astro
  packages/components/src/astro/pagination/PaginationItem.astro
  packages/components/src/astro/pagination/PaginationLink.astro
  packages/components/src/astro/pagination/PaginationNext.astro
  packages/components/src/astro/pagination/PaginationPrevious.astro
  packages/components/src/astro/pagination/index.ts
  packages/components/src/astro/pagination/paginationVariants.ts
  packages/components/src/astro/tab/Tab.astro
  packages/components/src/astro/tab/TabContent.astro
  packages/components/src/astro/tab/TabList.astro
  packages/components/src/astro/tab/TabTrigger.astro
  packages/components/src/astro/tab/index.ts
  packages/components/src/astro/tab/tab.ts
Due: eslint --fix, prettier --write

feat(components): add Collapsible and Stat components
  packages/components/src/astro/collapsible/Collapsible.astro
  packages/components/src/astro/collapsible/CollapsibleContent.astro
  packages/components/src/astro/collapsible/collapsible.ts
  packages/components/src/astro/collapsible/index.ts
  packages/components/src/astro/stat/Stat.astro
  packages/components/src/astro/stat/StatDescription.astro
  packages/components/src/astro/stat/StatTitle.astro
  packages/components/src/astro/stat/StatValue.astro
  packages/components/src/astro/stat/index.ts
Due: eslint --fix, prettier --write

fix(components): update ID generation for accordion component
  packages/components/src/astro/accordion/accordion.ts
Due: eslint --fix, prettier --write

feat(components): implement Dropdown and Popover components
  packages/components/src/astro/dropdown/DropdownMenu.astro
  packages/components/src/astro/dropdown/DropdownMenuContent.astro
  packages/components/src/astro/dropdown/DropdownMenuGroup.astro
  packages/components/src/astro/dropdown/DropdownMenuItem.astro
  packages/components/src/astro/dropdown/DropdownMenuLabel.astro
  packages/components/src/astro/dropdown/DropdownMenuSeparator.astro
  packages/components/src/astro/dropdown/dropdown.ts
  packages/components/src/astro/dropdown/dropdownVariants.ts
  packages/components/src/astro/dropdown/index.ts
  packages/components/src/astro/popover/Popover.astro
  packages/components/src/astro/popover/PopoverContent.astro
  packages/components/src/astro/popover/index.ts
  packages/components/src/astro/popover/popover.ts
  packages/components/src/astro/popover/popoverVariants.ts
Due: eslint --fix, prettier --write

refactor(components): streamline trigger selection in Drawer, Modal, and Tooltip components
  packages/components/src/astro/accordion/accordion.ts
  packages/components/src/astro/drawer/DrawerTrigger.astro
  packages/components/src/astro/drawer/drawer.ts
  packages/components/src/astro/modal/ModalClose.astro
  packages/components/src/astro/modal/ModalTrigger.astro
  packages/components/src/astro/modal/index.ts
  packages/components/src/astro/modal/modal.ts
  packages/components/src/astro/tooltip/TooltipTrigger.astro
  packages/components/src/astro/tooltip/tooltip.ts
Due: eslint --fix, prettier --write

feat(components): add new components: collapsible, drawer, dropdown, kbd, pagination, popover, stat, and tab
  packages/components/src/registry.json
Due: prettier --write

refactor(components): update Props interface to use div instead of button and standardize close button data attribute
  packages/components/src/astro/collapsible/CollapsibleContent.astro
  packages/components/src/astro/drawer/DrawerContent.astro
  packages/components/src/astro/drawer/drawer.ts
  packages/components/src/astro/tab/TabList.astro
Due: eslint --fix, prettier --write

chore: update package versions for orbitkit and components
  packages/cli/package.json
  packages/components/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(components): refactors the structure of the Modal, Tooltip, Drawer, and Accordion components
  packages/components/src/astro/accordion/AccordionItem.astro
  packages/components/src/astro/accordion/AcordionContent.astro
  packages/components/src/astro/accordion/accordion.ts
  packages/components/src/astro/drawer/DrawerContent.astro
  packages/components/src/astro/drawer/index.ts
  packages/components/src/astro/dropdown/index.ts
  packages/components/src/astro/modal/ModalContent.astro
  packages/components/src/astro/pagination/index.ts
  packages/components/src/astro/popover/index.ts
  packages/components/src/astro/tooltip/index.ts
  packages/components/src/registry.json
Due: eslint --fix, prettier --write

feat(cli): sort available components alphabetically
  packages/components/src/index.ts
Due: eslint --fix, prettier --write

chore: update package versions to 0.2.0 for orbitkit and @orbitkit/components
  packages/cli/package.json
  packages/components/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(docs): update feature highlights and roadmap statuses for accuracy
  apps/docs/src/components/sections/FeatureHighlights.astro
  apps/docs/src/components/sections/Header.astro
  apps/docs/src/components/sections/Roadmap.astro
Due: eslint --fix, prettier --write

feat(cli): add remove command to CLI for component management
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/remove.ts
  packages/cli/src/index.ts
Due: eslint --fix, prettier --write

feat(cli): add info command to CLI for displaying project information
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/info.ts
  packages/cli/src/index.ts
Due: eslint --fix, prettier --write

feat(cli): add overwrite option to add command
  packages/cli/src/commands/add.ts
Due: eslint --fix, prettier --write

fix(cli): return empty array when no components are selected in prompt
  packages/cli/src/commands/add.ts
Due: eslint --fix, prettier --write

chore(cli): bump version to 0.3.0
  packages/cli/package.json
Due: prettier --write

feat(cli): expand CLI documentation with remove and info commands
  apps/docs/src/content/docs/getting-started/cli.mdx
Due: none

feat(components): implement toast component
  packages/components/src/astro/toast/Toast.astro
  packages/components/src/astro/toast/ToastDescription.astro
  packages/components/src/astro/toast/ToastTitle.astro
  packages/components/src/astro/toast/Toaster.astro
  packages/components/src/astro/toast/assets.ts
  packages/components/src/astro/toast/index.ts
  packages/components/src/astro/toast/toast.ts
  packages/components/src/registry.json
Due: eslint --fix, prettier --write

feat(toast): add Toast component documentation
  apps/docs/orbit.config.json
  apps/docs/src/components/PreviewCard.astro
  apps/docs/src/components/ui/toast/Toast.astro
  apps/docs/src/components/ui/toast/ToastDescription.astro
  apps/docs/src/components/ui/toast/ToastTitle.astro
  apps/docs/src/components/ui/toast/Toaster.astro
  apps/docs/src/components/ui/toast/assets.ts
  apps/docs/src/components/ui/toast/index.ts
  apps/docs/src/components/ui/toast/toast.ts
  apps/docs/src/content/docs/components/toast.mdx
Due: eslint --fix, prettier --write

feat(components): add Marquee and ScrollProgress components
  packages/components/src/astro/marquee/Marquee.astro
  packages/components/src/astro/marquee/index.ts
  packages/components/src/astro/scroll-progress/ScrollProgress.astro
  packages/components/src/astro/scroll-progress/ScrollProgressBar.astro
  packages/components/src/astro/scroll-progress/index.ts
  packages/components/src/registry.json
Due: eslint --fix, prettier --write

feat(cli): enhance ORBIT_CONFIG_CSS_TEMPLATE with inline theme and marquee animations
  packages/cli/src/utils/templates.ts
Due: eslint --fix, prettier --write

feat: update package versions to 0.3.1 for orbitkit and 0.3.0 for @orbitkit/components
  packages/cli/package.json
  packages/components/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(docs): add documentation for Marquee and Scroll Progress components
  apps/docs/orbit.config.json
  apps/docs/src/components/sections/FeatureHighlights.astro
  apps/docs/src/components/ui/marquee/Marquee.astro
  apps/docs/src/components/ui/marquee/index.ts
  apps/docs/src/components/ui/scroll-progress/ScrollProgress.astro
  apps/docs/src/components/ui/scroll-progress/ScrollProgressBar.astro
  apps/docs/src/components/ui/scroll-progress/index.ts
  apps/docs/src/content/docs/components/index.mdx
  apps/docs/src/content/docs/components/marquee.mdx
  apps/docs/src/content/docs/components/scroll-progress.mdx
  apps/docs/src/styles/global.css
Due: eslint --fix, prettier --write

feat(docs): update Tab and Toast component documentation for clarity and consistency
  apps/docs/src/content/docs/components/tab.mdx
  apps/docs/src/content/docs/components/toast.mdx
Due: none

feat(docs): override TwoColumnContent component to Astro configuration
  apps/docs/astro.config.mjs
  apps/docs/src/components/overrides/TwoColumnContent/TwoColumnContent.astro
Due: eslint --fix, prettier --write

feat(docs): remove StarryBackground component and integrate Hero section into the main page layout
  apps/docs/src/components/StarryBackground.astro
  apps/docs/src/components/sections/Header.astro
  apps/docs/src/components/sections/Hero.astro
  apps/docs/src/layouts/Layout.astro
  apps/docs/src/pages/index.astro
Due: eslint --fix, prettier --write
